[project]
name = "roles"
version = "0.1.0"
authors = [{ name = "madea", email = "admin@email.com" }]
description = "Default template for PDM package"
requires-python = "==3.14.*"
readme = "README.md"
license = { text = "MIT" }
classifiers = [
    "Programming Language :: Python :: 3.14",
]
